*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    outline: none;
}

body{
    background-image: url(../assets/background1.jpg);
    background-size:auto;
    background-repeat: no-repeat;

}

p{
    margin-left: 18pxs;
}

.logo{
    width: 50px;
    float: left;
}

.list{
    float: left;
    margin-left: 20px;
    margin-top: 14px;
    font-size: 18px;
}
header{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 10px;
    background-color:rgb(30, 22, 77);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position:initial;
}

.image{
    width: 300px;
    border-radius: 10px;
    border: 5px solid rgb(172, 171, 243);
    margin-top: 30px;
    margin-left: 15px;
}

li{
    list-style:none;
    float: left;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    color: rgb(161, 157, 157);
    -webkit-transition: 0.3s;
    transition: 0.3s; 
}

.menu{
    float: right;
}

li:hover{
    color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}

.cardpc{
    margin-top: 500px;
    margin-left:auto;
    margin-right: auto;
    display: inline-block;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.151);
}

img{
margin-left: 15px;
}

p, input, h3, h4{
    margin-left: 10px;
    margin-top: 10px;
}

/*Card= cards azuis grandes da página.*/

.card1{
    display:inline-block;
    width: 300px;
    height: 560px;
    border: 5px solid rgb(112, 165, 196);
    border-radius: 12px;
    margin-left: 15px;
    background-color:rgb(46, 32, 124);  
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.card{
    float: right;
    margin-right: 15px;
    position: relative;
}


input[type=text] {
    display: inline-block;
    width: 230px;
    height: 30px;
    margin: 10px;
    margin-left: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    border: 1px solid rgb(87, 81, 81);
  }

/*#calc, subP e button = botões da página.
*/
#calc, #subP, .button{
    width: 80px;
    height: 40px;
    background-color: #48c5ce;
    border:1px solid rgb(255, 255, 255); 
    border-radius: 5px;
    font-weight: bold;
     margin-left: 18px;
     cursor: pointer;
}

.button{
    padding: 3px;
    width: 120px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.marginL{
    margin-left: 20px;
}

.ficha{
    font-weight: bold;
    text-align: justify;   
}

#print_name{
    margin-bottom:0px;
    padding: 0px;
}